<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema de veterinario</title>
</head>
<body>
    <h1>Menu de Opcciónes</h1>
    <hr>
    <ul>
        <li><a href="/Mascotas">Mantenimeinto de mascotas</a></li>
        <li><a href="/Medicos">Mantenimiento de medicos</a></li>
        <li><a href="/Medicamentos">Mantenimiento de medicamentos</a></li>
        <li><a href="/Accesorios">Mantenimiento de accesorios</a></li>
        <li><a href="/Reportes">Reportes</a></li>
        <li><a href="/logout">Salir</a></li>
    </ul>
    <hr>
</body>
</html>